.featureForm {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 44px 57px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  flex: 5;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.featureFormTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 8px;
}

.featureFormText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6c717b;
  margin-bottom: 24px;
}

.featureFormField {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.featureFormField input {
  border-radius: 12px;
  padding: 18px;
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.featureFormField textarea {
  border-radius: 10px;
  padding: 18px;
  width: 100%;
  height: 118px;
  background-color: #f7f7f7;
  margin-bottom: 24px;
  resize: none;
  box-sizing: border-box;
}

.featureButton {
  display: block;
  margin: 0 auto;
}
