.feature {
  display: flex;
  gap: 40px;
  padding-top: 40px;
}

.featureDetails {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 44px 52px;
  flex: 5;
  min-width: 300px;
}

.featuresTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 24px;
}

.featureVehicleDetails {
  border-top: 1px solid #dadde1;
  padding-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.featureVehicleDetails div {
  display: flex;
  justify-content: space-between;
}
