.filtersContainer {
  width: 360px;
}

.filtersForm {
  display: flex;
  flex-direction: column;
}

.filtersTitle {
  line-height: 150%;
  margin-bottom: 32px;
}

.searchButton {
  width: 156px;
  height: 56px;
}

.searchButton::hover {
  background-color: #d84343;
}
