*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #475467;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  background: none;
  border: none;
  font: inherit;
  outline: none;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  width: 100%;
}

._calendarContainer_1gjsl_183 {
  border: 1px solid #475467 !important;
  padding: 12px;
}

.rdp-root .rdp-chevron {
  fill: #475467 !important;
}

.rdp-root .rdp-nav_button {
  background-color: #475467 !important;
}

.rdp-range_start .rdp-day_button,
.rdp-range_end .rdp-day_button {
  background-color: #475467 !important;
  color: white !important;
  border: none !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
}

.rdp-weekdays {
  margin-bottom: 12px !important;
  border-bottom: 1px solid #475467 !important;
  text-transform: capitalize !important;
  margin: 0 auto;
}
.rdp-weekday {
  text-transform: capitalize !important;
}

.rdp-caption_label {
  transform: translateX(85px) !important;
}
.rdp-button_previous {
  transform: translateX(-230px) !important;
}

.rdp-button_next {
  transform: translateX(-5px) !important;
}

.rdp-today .rdp-day_button {
  border-radius: 32px;
  width: 36px;
  height: 32px;
  background-color: gray !important;
  color: white !important;
}

.customCalendar:has(.rdp-selected)
  .rdp-today:not(.rdp-selected)
  .rdp-day_button {
  background-color: white !important;
  color: gray !important;
  border: 1px solid #ccc;
}

.rdp-selected .rdp-day_button,
.rdp-range_start .rdp-day_button,
.rdp-range_end .rdp-day_button {
  background-color: #475467 !important;
  color: white !important;
  border-radius: 32px;
  width: 36px;
  height: 32px;
}

.rdp-range_middle .rdp-day_button {
  background-color: #101828 !important;
  color: gray !important;
  border-radius: 0 !important;
  width: 36px;
  height: 32px;
  border: none !important;
}

.rdp-range_middle,
.rdp-range_start,
.rdp-range_end {
  background-color: none !important;
  background-clip: content-box !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.rdp-range_middle .rdp-day_button {
  background-color: transparent !important;
  color: #475467 !important;
  border: none !important;
  border-radius: 0 !important;
  width: 100% !important;
  height: 22px;
}

._dateInput_1f71k_141,
._dateInput_47ho4_139,
._dateInput_11804_70 {
  color: #6c717b !important;
}
